    </div><!--/.container-->
    <hr>
   <div class="footer">
      <div class="container">
        <p class="text-muted">© 2014 aboutsip.com</p>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.1.min.js"></script> 
    <script src="/bootstrap/js/bootstrap.min.js"></script>
<!--
    <script src="/js/offcanvas.js"></script>
-->
  </body>
</html>

