<div class="col-md-3">
   <div class="hidden-print hidden-xs hidden-sm affix" role="complementary">
    <div class="bs-docs-sidebar">
      <ul class="nav">
         <li >
              <a href="#getting-started">Getting Started</a>
              <ul class="nav">
                  <li><a href="#getting-started-overview">Overview</a></li>
                  <li><a href="#getting-started-netty">Netty.io</a></li>
                  <li><a href="#getting-started-pkts">Pkts.io</a></li>
                  <li><a href="#getting-maven">Setting up Maven</a></li>
              </ul>
         </li>
         <li >
              <a href="#contributing">Contributing</a>
              <ul class="nav">
                  <li><a href="#contributing-build-it">Build It</a></li>
                  <li><a href="#contributing-ide">Using an IDE</a></li>
                  <li><a href="#contributing-start-coding">Start Coding</a></li>
                  <li><a href="#contributing-code-principals">Code Principals</a></li>
                  <li><a href="#contributing-style-guide">Style Guide</a></li>
              </ul>
         </li>
         <li >
              <a href="#license">License</a>
         </li>
      </ul>
   </div>
   </div>
</div>

