<div class="col-md-3">
   <div class="hidden-print hidden-xs hidden-sm affix" role="complementary">
    <div class="bs-docs-sidebar">
      <ul class="nav">
         <li >
              <a href="#getting-started">Getting Started</a>
              <ul class="nav">
                  <li><a href="#getting-started-overview">Overview</a></li>
                  <li><a href="#getting-started-netty">Netty.io</a></li>
                  <li><a href="#getting-started-pkts">Pkts.io</a></li>
              </ul>
         </li>
         <li >
              <a href="#app-intro">Your First Application</a>
              <ul class="nav">
                  <li><a href="#app-maven">Maven</a></li>
                  <li><a href="#app-build-it">Build It</a></li>
                  <li><a href="#app-ide">Using an IDE</a></li>
                  <li><a href="#app-start-coding">Start Coding</a></li>
                  <li><a href="#app-code-principals">Code Principals</a></li>
                  <li><a href="#app-style-guide">Style Guide</a></li>
              </ul>
         </li>
      </ul>
   </div>
   </div>
</div>

