{% highlight java %}
@Sharable // (1)
public final class UASHandler extends SimpleChannelInboundHandler<SipMessageEvent> { // (2)

    @Override
    protected void channelRead0(final ChannelHandlerContext ctx,  // (3)
                               final SipMessageEvent event) 
                               throws Exception {
        final SipMessage msg = event.getMessage(); // (4)

        if (msg.isAck()) {  // (5)
            return;
        }

        if (msg.isRequest()) {   // (6)
            final SipResponse response = msg.createResponse(200);
            event.getConnection().send(response);
        }
    }

}
{% endhighlight %}
